* {
    text-decoration: none;
    padding: 0vw;
    margin: 0vw;
    list-style-type: none;
    background-repeat: no-repeat;
}
html {
    overflow-x: hidden;
}

@font-face {
    font-family: "Fonts1";
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Fonts2";
    src: url("fonts/SourceSans3-Regular.ttf");
}

body {
    background-color: #181e30;
}

/*Левый блок*/

.left_block {
    position: fixed;
    height: 51.6vw;
    width: 26.8vw;
    background-color: #13192c;
}

.logo {
    width: 20vw;
    height: 10vw;
}

.logo_img {
    margin-top: 4.4vw;
    margin-left: 6.3vw;
    width: 4.3vw;
    height: 4.3vw;
}

.logo_h1 {
    margin-top: -3.2vw;
    margin-left: 10.2vw;
    font-family: "Fonts1";
    font-size: 2.2vw;
    color: #f3f7ff;
    font-weight: 100;
}

.navigation {
    margin-top: 8.6vw;
    margin-left: 2.4vw;
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation .navigation1, .navigation2, .navigation3, .navigation5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation2 {
    margin-right: 0vw;
}

.navigation3 {
    margin-right: 3.2vw;
}

.navigation4 {
    margin-right: 3.6vw;
}


.nav_img1 {
    width: 2.4vw;
    height: 2.4vw;
}

.nav_h1 {
    margin-left: 1vw;
    margin-right: 4.5vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

.nav_img2 {
    margin-top: 2vw;
    width: 2.4vw;
    height: 2.4vw;
}

.nav_h2 {
    margin-left: 1vw;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

.nav_img3 {
    margin-top: 2vw;
    margin-right: 3.2vw;
    width: 2.4vw;
    height: 2.4vw;
}

.nav_h3 {
    margin-left: -2vw;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

.nav_img4 {
    margin-bottom: -0.3vw;
    margin-top: 14vw;
    margin-right: 3.2vw;
    width: 2vw;
    height: 2vw;
}

.nav_h4 {
    margin-top: 14vw;
    margin-left: -2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}
.nav_img5 {
    margin-top: 2vw;
    margin-right: 3.2vw;
    width: 2.2vw;
    height: 2.2vw;
}
.nav_h5 {
    margin-left: -2vw;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

/*Тут настройки, уведомления и Иконка профиля*/

header {
    width: 10vw;
    height: 2vw;
}

.header_notifications {
    margin-bottom: 1.8vw;
    margin-left: 1.3vw;
    width: 2vw;
    height: 2vw;
}

.header_options {
    margin-bottom: 1.8vw;
    margin-left: 86.8vw;
    width: 2vw;
    height: 2vw;
}

.header_icon {
    margin-left: 1vw;
    margin-top: 1.6vw;
    width: 5vw;
    height: 5vw;
}

.input_poisk {
    bottom: 4.5vw;
    position: relative;
    outline: none;
    font-family: "Fonts1";
    font-size: 1.2vw;
    color: #f3f7ff;
    background-color: #13192c;
    border: 1px solid #7850ba;
    width: 54vw;
    height: 3vw;
    margin-left: 30.5vw;
    padding-left: 1vw;
    border-radius: 1vw;
}

input::placeholder {
    color: #798093;
}


.div_lenta{
    display: flex;
    margin-top: 2vw;
    border-radius: 2vw;
    width: 46.8vw;
    height: auto;
    margin-left: 30.6vw;
    background-color: #13192c;
    border: 1px solid #7850ba;
    flex-direction: column;
    gap: 2vw;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.div_lenta  > h1{
    padding-top: 2vw;
    color: white;
}
.create{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.error{
    color: red;
    font-size: 1vw;
    padding-top: 1vw;
}
form{
    margin-top: 0.5vw;
    color: white;
    font-size: 1vw;
}
input{
    position: relative;
    outline: none;
    font-family: "Fonts1";
    font-size: 0.8vw;
    color: #f3f7ff;
    background-color: #13192c;
    border: 1px solid #7850ba;
    width: 20vw;
    height: 2vw;
    padding-left: 1vw;
    margin-top: 1vw;
    border-radius: 0.5vw;
}
input::placeholder {
    color: #798093;
}
textarea{
    background-color: #13192c;
    outline: none;
    color: #f3f7ff;
    border: 1px solid #7850ba;
    padding-top: 1vw;
    padding-left: 1vw;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
    border-radius: 0.5vw;
}
select{
    background-color: #13192c;
    outline: none;
    color: #f3f7ff;
    border: 1px solid #7850ba;
    margin-top: 0.5vw;
    width: auto;
    padding: 0.3vw;
    border-radius: 0.25vw;
}
select::after{
    background-color: #13192c;
    color: #f3f7ff;
    border: 1px solid #7850ba;
}
button{
    position: relative;
    outline: none;
    font-family: "Fonts1";
    font-size: 0.8vw;
    color: #f3f7ff;
    background-color: #13192c;
    border: 1px solid #7850ba;
    width: 21vw;
    height: 2vw;
    padding-left: 1vw;
    margin-top: 1vw;
    border-radius: 0.5vw;
}
button::placeholder {
    color: #798093;
}
button:hover{
    background-color: #7850BA;
}
option{

}
.otstuppp {
    height: 2vw;
}
