* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #181E30;
    color: #F3F7FF;
    font-family: 'Nunito';
    font-style: normal;
}
/* бокавая панель управления*/
.navigation {
    display: flex;
    color: #F3F7FF;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Nunito';
    font-style: normal;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
    border-right: 2px solid white;
    position: fixed;
    padding-left: 50px;
    background-color: #13192C;
}
.log {
    font-size: 2.5vw;
}
.navigation li {
    width: 250px;
}
.navigation a {
    color: white;
    font-family: 'Nunito';
    font-style: normal;
}
.navigation img{
    height: 1.5vw;
    width: 1.5vw;
}
.navigation-f1 {
    margin-top: 3vw;
}
.navigation-f2 {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    gap: 1.5vw;
    padding-bottom: 1vw;
    /*border-bottom: 2px solid white;*/
}
.navigation-f4 {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    gap: 1.5vw;
    margin-bottom: 50vw;
}
/*контетн*/
.d-f {
    display: flex;
    /* margin: 0 100px 0 0; */
    flex-direction: column;
    margin-left: 22.1vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
}
/*верхняя панель*/
.upPanel{
    display: flex;
    margin: 2vw 5vw 2vw 5vw;
    /*border: 1px solid red;*/
    width: auto;
    height: auto;
}
/*поиск*/
.input_search{
    background-color: transparent;
    border: none;
    border: #7850BA 1px solid;
    border-radius: 10px;
    outline: none;
    width: 25vw;
    height: 2vw;
    color: #F3F7FF;
    font-size: 1vw;
    padding: 5px;
    padding-left: 1vw;
    margin-top: 0.5vw;
    font-family: 'Nunito';
}
.input_search::placeholder{
    color: #798093;
}
.btn_search{
    text-decoration: none;
    background-color: transparent;
    color: #F3F7FF;
    border: #7850BA 1px solid;
    border-radius: 10px;
    width: 6vw;
    height: 2vw;
    font-size: 1vw;
    font-family: 'Nunito';
    font-style: normal;
    text-align: center;
}
.btn_search:hover{
    background: #7850BA;
    color: #F3F7FF;
    transition: 2s;
}
/*оповещения*/
.notifications{
    display: flex;
    align-items: center;
    margin-left: 17vw;
}
.notifications img{
    width: 2.5vw;
    height: 2.5vw;
}
/*Аватарка*/
.avatar{
    display: flex;
    margin-left: 3vw;
    align-items: center;
}
.name{
    font-size: 1.5vw;
    font-family: 'Nunito';
    font-style: normal;
}
.name a{
    color: white;
}
.circle{
    margin-left: 1vw;
    background-color: #7850BA;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}
/*контетн*/
.d-f {
    display: flex;
    /* margin: 0 100px 0 0; */
    flex-direction: column;
    margin-left: 22.1vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
}
h1{
    margin: 0vw 5vw 2vw 5vw;
    color: white;
    font-size: 2vw;
    font-family: 'Nunito';
    font-style: normal;
}
