* {
    text-decoration: none;
    padding: 0vw;
    margin: 0vw;
    list-style-type: none;
    background-repeat: no-repeat;
}
html {
    overflow-x: hidden;
}

@font-face {
    font-family: "Fonts1";
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Fonts2";
    src: url("fonts/SourceSans3-Regular.ttf");
}

body {
    background-color: #181e30;
}

/*Левый блок*/

.left_block {
    position: fixed;
    height: 51.6vw;
    width: 26.8vw;
    background-color: #13192c;
}

.logo {
    width: 20vw;
    height: 10vw;
}

.logo_img {
    margin-top: 4.4vw;
    margin-left: 6.3vw;
    width: 4.3vw;
    height: 4.3vw;
}

.logo_h1 {
    margin-top: -3.2vw;
    margin-left: 10.2vw;
    font-family: "Fonts1";
    font-size: 2.2vw;
    color: #f3f7ff;
    font-weight: 100;
}

.navigation {
    margin-top: 8.6vw;
    margin-left: 2.4vw;
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation .navigation1, .navigation2, .navigation3, .navigation5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation2 {
    margin-right: 0vw;
}

.navigation3 {
    margin-right: 3.2vw;
}

.navigation4 {
    margin-right: 3.6vw;
}


.nav_img1 {
    width: 2.4vw;
    height: 2.4vw;
}

.nav_h1 {
    margin-left: 1vw;
    margin-right: 4.5vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

.nav_img2 {
    margin-top: 2vw;
    width: 2.4vw;
    height: 2.4vw;
}

.nav_h2 {
    margin-left: 1vw;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

.nav_img3 {
    margin-top: 2vw;
    margin-right: 3.2vw;
    width: 2.4vw;
    height: 2.4vw;
}

.nav_h3 {
    margin-left: -2vw;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

.nav_img4 {
    margin-bottom: -0.3vw;
    margin-top: 14vw;
    margin-right: 3.2vw;
    width: 2vw;
    height: 2vw;
}

.nav_h4 {
    margin-top: 14vw;
    margin-left: -2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}
.nav_img5 {
    margin-top: 2vw;
    margin-right: 3.2vw;
    width: 2.2vw;
    height: 2.2vw;
}
.nav_h5 {
    margin-left: -2vw;
    margin-top: 2vw;
    text-decoration: none;
    font-size: 1.6vw;
    font-family: "Fonts1";
    color: #f3f7ff;
    font-weight: 100;
}

/*Тут настройки, уведомления и Иконка профиля*/

header {
    width: 10vw;
    height: 2vw;
}

.header_notifications {
    margin-bottom: 1.8vw;
    margin-left: 1.3vw;
    width: 2vw;
    height: 2vw;
}

.header_options {
    margin-bottom: 1.8vw;
    margin-left: 86.8vw;
    width: 2vw;
    height: 2vw;
}

.header_icon {
    margin-left: 1vw;
    margin-top: 1.6vw;
    width: 5vw;
    height: 5vw;
}

.input_poisk {
    bottom: 4.5vw;
    position: relative;
    outline: none;
    font-family: "Fonts1";
    font-size: 1.2vw;
    color: #f3f7ff;
    background-color: #13192c;
    border: 1px solid #7850ba;
    width: 54vw;
    height: 3vw;
    margin-left: 28.5vw;
    padding-left: 1vw;
    border-radius: 1vw;
}

input::placeholder {
    color: #798093;
}

.button_novosti{
    margin-top: -2vw;
    margin-left: 30.5vw;
    width: 2vw;
    height: 2vw;
}

.novostii{
    border-radius: 0.5vw;
    font-family: "Fonts1";
    font-size: 1.2vw;
    padding: 0.3vw 1vw;
    color: #f3f7ff;
    width: auto;
    height: auto;
    background-color: #13192c;
    border: 1px solid #7850ba;
    transition: 500ms ease-in-out;
}
.button_novosti a:hover{
    background-color: #7850ba;
}
.categoria{
    display: flex;
    margin-left: 31vw;
    gap: 1vw 1vw;
    width: 46vw;
    flex-wrap: wrap;
}

.div_lenta{
    margin-top: 2vw;
    border-radius: 2vw;
    width: 46.8vw;
    height: 47.5vw;
    margin-left: 30.6vw;
    background-color: #13192c;
    border: 1px solid #7850ba;
}

.icon_lenta{
    margin-left: 2vw;
    margin-top: 1.5vw;
    width: 4.5vw;
    height: 4.5vw;
}

.h1_lenta{
    margin-top: -4.4vw;
    margin-left: 8vw;
    color: #f3f7ff;
    font-family: 'Fonts1';
    font-size: 1.4vw;
    font-weight: 100;
}

.p_lenta{
    margin-top: 0.8vw;
    margin-left: 8vw;
    color: #f3f7ff;
    font-family: 'Fonts1';
    font-size: 1vw;
    font-weight: 100;
}

.hr_lenta{
    margin-left: 2vw;
    margin-top: 1.4vw;
    border: 1px solid #7850ba;
    width: 42.5vw;
}

.post_lenta{
    height: 38vw;
    width: 42.5vw;
    margin-top: 1vw;
    margin-left: 2vw;
}

.div_lenta2{
    margin-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 2vw;
    width: 46.8vw;
    height: auto;
    margin-left: 30.6vw;
    background-color: #13192c;
    border: 1px solid #7850ba;
}

.text_lenta{
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 1vw;
    color: #f3f7ff;
    font-family: 'Fonts1';
    font-size: 1vw;
}

.right_block{
    position: fixed;
    right: 5px;
    top: 150px;
    width: 18vw;
    height: 18vw;
}

.right_block2{
    position: fixed;
    right: 5px;
    top: 450px;
    width: 18vw;
    height: 18vw;
}

.img_piar{
    width: 14vw;
    height: 14vw;
}

.otstuppp {
    height: 5vw;
}
.comments{
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
}
.comments > p{
    color: white;
    font-size: 1.2vw;
}
.comments_1{
    display: flex;
    flex-direction: column;
    width:auto;
}
.comments_1 > h4{
    color: white;
    font-size: 1.1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.comments_1 > p{
    color: white;
    font-size: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #7850ba;
}

form{
    margin: 0 2vw;
    color: white;
    font-size: 1vw;
}
input{
    position: relative;
    outline: none;
    font-family: "Fonts1";
    font-size: 0.8vw;
    color: #f3f7ff;
    background-color: #13192c;
    border: 1px solid #7850ba;
    width: 20vw;
    height: 2vw;
    padding-left: 1vw;
    border-radius: 0.5vw;
}
input::placeholder {
    color: #798093;
}
textarea{
    background-color: #13192c;
    outline: none;
    color: #f3f7ff;
    border: 1px solid #7850ba;
    padding-top: 1vw;
    padding-left: 1vw;
    margin-bottom: 0.5vw;
    border-radius: 0.5vw;
}
button{
    position: relative;
    outline: none;
    font-family: "Fonts1";
    font-size: 0.8vw;
    color: #f3f7ff;
    background-color: #13192c;
    border: 1px solid #7850ba;
    width: 21vw;
    height: 2vw;
    padding-left: 1vw;
    border-radius: 0.5vw;
}
button::placeholder {
    color: #798093;
}
button:hover{
    background-color: #7850BA;
}
.error{
    color: white;
    margin-left: 31vw;
    margin-top: 2vw;
    font-size: 1.2vw;
}
@media screen and (max-width: 1645px) {

    .left_block {
        height: 60.6vw;
    }
}
@media screen and (max-width: 1410px) {

    .left_block {
        height: 80.6vw;
    }
}
@media screen and (max-width: 1261px) {

    .left_block {
        height: 80.6vw;
    }
    .right_block2 {
        position: fixed;
        right: 5px;
        top: 350px;
        width: 18vw;
        height: 18vw;
    }
}
@media screen and (max-width: 1035px) {
    .left_block {
        height: 90.6vw;
    }
    .right_block {
        position: fixed;
        right: 5px;
        top: 110px;
        width: 18vw;
        height: 18vw;
    }
    .right_block2 {
        position: fixed;
        right: 5px;
        top: 280px;
        width: 18vw;
        height: 18vw;
    }
    .icon_lenta {
        margin-left: 2vw;
        margin-top: 1.5vw;
        width: 5vw;
        height: 5vw;
    }
    .p_lenta {
        margin-top: 0.8vw;
        margin-left: 8vw;
        color: #f3f7ff;
        font-family: 'Fonts1';
        font-size: 1.4vw;
        font-weight: 100;
    }
    .text_lenta {
        margin-top: 1vw;
        margin-left: 2vw;
        margin-right: 1vw;
        color: #f3f7ff;
        font-family: 'Fonts1';
        font-size: 1.4vw;
    }
    button {
        position: relative;
        outline: none;
        font-family: "Fonts1";
        font-size: 1.4vw;
        color: #f3f7ff;
        background-color: #13192c;
        border: 1px solid #7850ba;
        width: 21vw;
        height: 2vw;
        padding-left: 1vw;
        border-radius: 0.5vw;
    }
    .comments > p {
        color: white;
        font-size: 1.7vw;
    }
    .comments_1 > p {
        color: white;
        font-size: 1.7vw;
        padding-bottom: 1vw;
        border-bottom: 1px solid #7850ba;
    }
    .comments_1 > h4 {
        color: white;
        font-size: 1.7vw;
        padding-bottom: 1vw;
    }
    label{
        font-size: 1.7vw;
    }
    .nav_h1 {
        margin-left: 1vw;
        margin-right: 4.5vw;
        text-decoration: none;
        font-size: 2vw;
        font-family: "Fonts1";
        color: #f3f7ff;
        font-weight: 100;
    }
    .nav_h2 {
        margin-left: 1vw;
        margin-top: 2vw;
        text-decoration: none;
        font-size: 1.8vw;
        font-family: "Fonts1";
        color: #f3f7ff;
        font-weight: 100;
    }
    .nav_h3 {
        margin-left: -2vw;
        margin-top: 2vw;
        text-decoration: none;
        font-size: 1.8vw;
        font-family: "Fonts1";
        color: #f3f7ff;
        font-weight: 100;
    }
    .nav_h4 {
        margin-top: 14vw;
        margin-left: -2vw;
        text-decoration: none;
        font-size: 1.8vw;
        font-family: "Fonts1";
        color: #f3f7ff;
        font-weight: 100;
    }
}
